.App {
  text-align: center;
}

body {
  background-color: #ffb3c1;
}
.divContainerAvon{
  margin-top: 40px;
}
.containerAvonExterno{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.AjusteDeImagen{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}


